<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDefFH06ZwoK-tHDt-y4H0o5n1s3DBpKZ4</string>
	<key>GCM_SENDER_ID</key>
	<string>975119494892</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chorale</string>
	<key>PROJECT_ID</key>
	<string>chorale-ad31f</string>
	<key>STORAGE_BUCKET</key>
	<string>chorale-ad31f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:975119494892:ios:1897c12b597f57c0a3bfc9</string>
</dict>
</plist>